/* recipes */
.recipes-favorites {
  margin-bottom: 60px;
}
.recipes-favorites h2 {
  margin-top: 54px;
  margin-bottom: 24px;
  font-size: 24px;
  font-weight: bold;
  line-height: 28px; 
}
.recipes {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 30px;
  margin-top: 30px;
}
.recipe-img img {
  width: 300px;
  height: 140px;
  border-radius: 15px;
}
.recipe-text h3 {
  font-size: 18px;
  font-weight: 400;
  line-height: 21px;
  color: #111111;
  margin-top: 15px;
}
.recipe-text p {
  margin-top: 3px;
  font-size: 14px;
  font-weight: 300;
  line-height: 16px;
  color: #777777;
}

/* recipe details */
.recipe-main {
  text-align: center;
}
.recipe-main h3 {
  font-size: 36px;
  font-weight: bold;
  line-height: 42px;
  color: #111111;
}
.recipe-main h5 {
  font-size: 20px;
  font-weight: 300;
  line-height: 24px;
  color: #777777;
}
.recipe-main img {
  border-radius: 15px;
  margin-bottom: 44px;
}
.recipe-title {
  display: flex;
  align-items: center;
}
.recipe-title h3 {
  margin: 20px 0;
  font-size: 24px;
  font-weight: bold;
  line-height: 28px;
  color: #111111;
}
section p, section li {
  color: #111111;
  font-size: 18px;
  font-weight: 300;
  line-height: 28px;
}
.recipe-title span {
  font-size: 12px;
  font-weight: bold;
  line-height: 14px;
  color: #999999;
  padding-top: 5px;
  padding-left: 8px;
  cursor: pointer;
}
.hidden {
  display: none;
}
/* .itemIngredients {
  display: block;
} */