{% extends "layout.njk" %}

{% block head %}
<link rel="stylesheet" href="/home.css">
<link rel="stylesheet" href="/receitas.css">
{% endblock %}
{% block content %}
		<!-- conteudo-anuncio-principal -->
		<div class="container">
				<div class="content">
						<div class="content-text">
								<h1>As melhores receitas</h1>
								<p>
										Aprenda a construir os melhores pratos com receitas criadas por profissionais do mundo inteiro.
								</p>
						</div>
						<div class="content-img">
								<img src="/assets/chef.png" alt="chef">
						</div>
				</div>
				<!-- card-anuncio -->
				<div class="recipes-fetured">
						<h2>Mais acessadas</h2>
						<div class="recipes">
								{% for item in items %}
										<div class="recipe">
												<div class="recipe-img">
														<img src="{{ item.image }}" alt="burger">
												</div>
												<div class="recipe-text">
														<h3>{{ item.title }}</h3>
														<p>{{ item.author 	}}</p>
												</div>
										</div>
								{% endfor %}
						</div>
				</div>
		</div>
{% endblock %}