{% extends "layout.njk" %}

{% block head %}
	<link rel="stylesheet" href="/receitas.css">
{% endblock %}

{% block content %}
	<main class="container">
	{# conteudo principal das receitas #}
		<section>
			<div class="recipe-main">
				<img src="{{ recipe.image }}" alt="">
					<h3>{{ recipe.title }}</h3>
						<h5>{{ recipe.author }}</h5>
			</div>
	{# ingredientes #}
		<div class="recipe-ingredients">
			<div class="recipe-title">
				<h3>Ingredientes</h3>
				<span onclick="myFunction1()" class="hidden-ing" id="showHiddeIng">ESCONDER</span>
			</div>
			<ul>
				{% for item in recipe.ingredients %}
					<li>{{ item }}</li>
				{% endfor %}
			</ul>	
		</div>
	{# preparação #}
		<div class="recipe-preparation">
			<div class="recipe-title">
				<h3>Modo de preparo</h3>
				<span onclick="myFunction2()" class="hidden-pre" id="showHiddePre">ESCONDER</span>	
			</div>
			<ul>
				{% for item in recipe.preparation %}
					<li>{{ item }}</li>
				{% endfor %}
			</ul>
		</div>
	{# Informações #}
		{% if recipe.information !== "" %}
			<div class="recipe-information">
				<div class="recipe-title">
					<h3>Informações adicionais</h3>
					<span onclick="myFunction3()" class="hidden-inf" id="showHiddeInf">ESCONDER</span>
				</div>	
				<p>{{ recipe.information }}</p>
			</div>
		{% endif%}				
		</section>
	</main>
	<script src="/script.js"></script>
{% endblock %}}